nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 100px;
  box-shadow: 0px 0px 3px rgb(240, 240, 240);
}

a {
  text-decoration: none;
  display: flex;
}

.prime {
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 100px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div.under-line {
  border-bottom: 2px solid black;
}