 body {
      background-color: rgb(0, 0, 0);
      color: white;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100vh;
      margin: 0
    }

    body.light {
      background-color: rgb(230, 207, 179);
    }



    .grid {
      display: grid;
      grid-template-columns: repeat(4, 60px);
      grid-template-rows: repeat(6, 40px);
      row-gap: 40px;
      column-gap: 20px;
    }

    .clear {
      grid-row: 5;

    }

    .delete {
      grid-row: 5;
    }

    .screen {
      grid-column: 1/-1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 40px;

      overflow: hidden;
      /* hide anything overflowing */
      white-space: nowrap;
      /* force text to stay on one line */
    }

    .screen p {
      font-family: roboto;
      margin: 0 10px;
      font-weight: 500;
    }

    button {
      font-size: inherit;
      color: inherit;
      background-color: rgb(59, 59, 59);
      border: none;
      cursor: pointer;
      border-radius: 80px;
      height: 70px;
      width: 70px;
      font-family: roboto;
    }


    .yellow {
      background-color: rgb(216, 158, 0);
    }

    .clear,
    .delete {
      background-color: rgb(73, 31, 31);
      font-size: 20px;
    }

    .mode {
      position: fixed;
      top: 20px;
      left: 20px;
      background-color: transparent;
      border: none;
      width: auto;
      height: auto;
    }

    svg.light {
      color: black;
    }

/* Remove tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent; /* Safari & Chrome on iOS/Android */
}
button:focus, a:focus {
  outline: none;
}
